:root {
    /* ordenado por clareza */
    --bg: #E6E6CA;
    --bg2: #FFFFE0;
}

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: var(--bg);
    font-size: 2.6vh;
    
    padding: 2vw;

    height: 10vh;
    width: 100%;
}

nav ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

nav img {
    height: 100%;
}

main {
    background-color: var(--bg);

    padding: 10vh 5vw 3vw 5vw;
}

article {
    background-color: var(--bg2);
    text-align: center;
    font-size: 5vw;

    border-radius: 15px;
    padding: 0 2vw 2vw 2vw;
    margin-bottom: 3vw;
}

article h2 {
    font-size: 6vw;
}

article img {
    width: 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

footer {
    background-color: var(--bg);
    font-size: 5vw;
    text-align: center;
}

@media (min-device-width: 480px) {
    main {
	padding: 10vh 15vw 3vw 15vw;
    }

    article {
	font-size: 4vw;
    }

    article h2 {
	font-size: 5vw;
    }

    footer {
	font-size: 4vw;
    }
}
